/* GLOBAL STYLES */




* {
    box-sizing: border-box;
    }
body {
background-color: #AAA;
margin: 0px 50px 50px;
}

/* Each item in the grid contains numbers */
.item {
/* Center the contents of the grid items. Making each grid item a Flex Container */
display: flex;

/* Horizontal and Vertical centering */
justify-content: center;
align-items: center;
border: 5px solid #87b5ff;
border-radius: 3px;
font-size: 2em;
font-family: sans-serif;
font-weight: bold;
background-color: #1c57b5
}

/*CSS Grid styles */

.container {
    display: grid;
    grid-template-columns: 5fr 5fr auto;
    /* grid-template-rows: 2fr 2fr 5fr 5fr 1fr; */
    grid-template-areas:
        "top top top" 10fr
        "center center right" 2fr
        "center center right" 5fr
        "center center right" 5fr
        "bottom bottom bottom" 1fr
    ;
 }

 .header {
    grid-area: top;
 }

.content {
     grid-area: center;
 }
 
#main_article {
    grid-area: center;
}

 .articles {
     grid-area: right;
 }
 .footer {
     grid-area: bottom;
 }
 
 .ads {
    grid-area: left;
 }

 #main_header {
    grid-area: center;
 }