body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 1024px;
    outline: 1px solid black;
}

.container {

    background-color: rgb(238, 199, 91);
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr 2fr 2fr auto;
    grid-template-areas: 
    "header header login"
    "main-1 .      sidebar"
    "main-2 main-2 sidebar"
    "main-3 main-4 sidebar"
    "footer footer footer"
    ;
    
}

.header_container {
    display: flex;    
    grid-area: header ;


    /* flex-flow: row wrap; */
}

#header_sitename {

    display: flex;
    flex-flow: column wrap;
    background-color: red;
    outline: 1px solid black;
    margin: 0;
    overflow-wrap: normal;
    text-align: center;

   
    

}

nav {   

    display: flex;
    flex-flow: row wrap;
    background-color: rgb(0, 240, 240);
    text-align: center;
    outline: 1px solid black;

    justify-content: space-between;
    padding: 0;
    flex-basis: 100%;
    grid-template-columns: subgrid; 
    grid-template-rows: subgrid; 
}

ul#navoptions {
    display: flex;
    grid-area: 1 / 1 / span 1 /  span 1 ;
    display: flex;
    /* flex-flow: row wrap; */
    display: flex;
    grid-area: nav;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-basis: 50%;
    outline: 1px solid black;
    overflow-wrap: normal;
    text-align: center;

    grid-area: 1 / 1 / span 1 /  span 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}
    
    a {
        align-self: center;
    }
    
    #other_stuff {     
        display: flex;
        background-color: tomato;
        outline: 1px solid black;
        flex-grow: 1;
        justify-content: center;  
        grid-template-columns: subgrid;
        grid-template-rows: subgrid; 
    }

    #about {
        display: flex;
        background-color: tomato;
        outline: 1px solid black;
        flex-grow: 1;
        justify-content: center;  
        grid-template-columns: subgrid;
        grid-template-rows: subgrid; 
    }

    #connect {
        display: flex;
        background-color: tomato;
        outline: 1px solid black;
        flex-grow: 1;
        justify-content: center;  
        grid-template-columns: subgrid;
        grid-template-rows: subgrid; 
    }


    #navlogin {
        display: flex;
        grid-area: login;
        background-color: gold;
        outline: 1px solid black;
        flex-basis: 50%;
        justify-content: center;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }


/*Main content */ 



main {
    margin: .5rem .5rem .5rem .5rem;
    /* gap: 5rem; */
    display: grid;
    grid-area: 1 / 1 / span 4 /  span 4 ;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    /* gap: 1rem; */
    /* padding: 1rem 1rem 1rem 1rem; */


}


#headline > h2 {
    display: flex;
    text-align: center;
    color: beige;
    /* align-self: stretch; */
}

#headline > p {
    color: blanchedalmond;
    display: flex;
    text-align: center;
}

#headline {    
    display: flex; 
    text-align: center;
    align-items: center;
    flex-flow: column wrap;
    grid-area: main-1;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    outline: 1px solid black;
    overflow-wrap: normal;
    background-color: hotpink;
}


#first_article {    
gap: 1%;
margin: .5rem .5rem 0 0;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    grid-area: main-2;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    outline: 1px solid black;
    /* overflow-wrap: normal; */
    background-color: chartreuse;
    
}

#first_article > p {
    display: flex;
    flex-flow: column wrap;
    
}
#second_article {
gap: 1%;
margin: .5rem .5rem 0 0;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    grid-area: main-3;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    outline: 1px solid black;
    overflow-wrap: normal;
    background-color: mediumpurple;
}

#third_article { 
    gap: 1%;
    margin: .5rem .5rem 0 0 ;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    grid-area: main-4;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    outline: 1px solid black;
    overflow-wrap: normal;
    background-color: darkslategrey;
}
#third_article > p {

    color: aliceblue;
} 
img#sexybord {
    display: inline-flex;
    width: 30%;
    align-self: center;
} 

article h2 p {
    color: rgb(0, 0, 0);
}

/* Aside */

aside {

    margin: auto 0;
    display: flex;
    flex-flow: column wrap;
    grid-area: sidebar;
    outline: 1px solid black;
    background-color: rgb(219, 5, 5);
    text-transform: capitalize;
    align-self: center
}

aside > ul {
    display: flex;
    flex-flow: column wrap;
    color: aqua;
    margin: auto 0;
}


aside > h3 {
    color: violet;
    flex-flow: column;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

/* Footer */ 
footer {
    display: grid;
    grid-area: footer;
    background-color: lightgreen;
    outline: 1px solid black;
}


h4 {
    color: rgb(89, 109, 102);
}

li p {
    color: rgb(189, 189, 189);

}


form {
    text-align: right;
    margin: auto;    
}

label {
    text-align: center;
    margin: auto;
}

input {
    text-align: center;
    margin: auto;
} 
