

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(238, 199, 91);
    outline: 1px solid black;
    width: 1024px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 2fr 2fr auto;
    grid-template-areas: 
    "header header header header header"
    "main-1 . . . sidebar"
    "main-2 main-2 main-2 main-2 sidebar"
    "main-3 main-3 main-4 main-4 sidebar"
    "footer footer footer footer footer"
    ;  
}

nav {   
    grid-area: header;
    display: flex;
    background-color: rgb(0, 240, 240);
    text-align: center;
}

#navsitename {
    grid-area: header;
    background-color: red;
    outline: 1px solid black;
    flex-basis: 20%;
    margin: 0;

}

#navoptions {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    flex-basis: 60%;
}

a {
    align-self: center;
}

    #other_stuff {     
        grid-area: header;   
        display: flex;
        list-style-type: none;
        background-color: white;
        outline: 1px solid black;
        flex-basis: 25%;
        justify-content: center;
    }

    #about {
        grid-area: header;
        display: flex;
        list-style-type: none;
        background-color: green;
        outline: 1px solid black;
        flex-basis: 25%;
        justify-content: center;
    }

    #connect {
        grid-area: header;
        display: flex;
        list-style-type: none;
        background-color: red;
        outline: 1px solid black;
        flex-basis: 25%;
        justify-content: center;   

    }


#navlogin {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    outline: 1px solid black;
    flex-basis: 20%;
    justify-content: center;
}


/*Main content */ 



main {
    display: grid;
    grid-area: 1 / 1 / span 4 /  span 4 ;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}


#headline h2 {
    color: cadetblue;
    padding-left: 1%;
}

#headline p {
    color: blanchedalmond;
    padding-left: 1%;
}

#headline {    
    display: grid;
    /* flex-flow: wrap; */
    grid-template-columns: subgrid;
    grid-area: main-1;
    background-color: hotpink;
    outline: 1px solid black;
}


#first_article {
    display: flex;
    flex-flow: column;
    grid-area: main-2;
    background-color: chartreuse;
    grid-template-columns: subgrid;
    grid-template-rows: auto 1fr;
    outline: 1px solid black;
    overflow-wrap: normal;

}
#second_article {
    display: flex;
    flex-flow: column;
    grid-area: main-3;
    grid-template-columns: subgrid;
    outline: 1px solid black;
    overflow-wrap: normal;
}

#third_article { 
    display: flex;
    flex-flow: column;
    grid-area: main-4;
    grid-template-columns: subgrid;
    outline: 5px solid black(1, 83, 15);
    overflow-wrap: normal;
}

img#sexybord {
    width: 33%;
    

} 

article p {
    color: rgb(0, 0, 0);
    padding-left: 1%;
}

/* Aside */

aside {

    display: grid;
    align-items: center;
    flex-flow: row nowrap;
    grid-area: sidebar;
    outline: 1px solid black;
    background-color: rgb(219, 5, 5);
    font-size: 1em;
    text-transform: capitalize;
}

aside > ul {
    display: flex;
    flex-flow: column wrap;
    grid-area: sidebar;
    align-items: center;
    outline: 5px solid black;
    background-color: aqua;
}

aside > ul > h3 {
    font-size: 1.5rem;
    color: violet;
}

aside div {
    margin: -70% 5% 5% 5%;
    outline: 2px solid black;
}

/* Footer */ 
footer {
    display: grid;
    grid-area: footer;
    background-color: lightgreen;
    outline: 1px solid black;
}


h4 {
    font-size: 1rem;
    color: rgb(89, 109, 102);
}

li p {
    color: rgb(189, 189, 189);
    padding-left: 1%;
}


form {
    text-align: right;
    margin: auto;    
}

label {
    text-align: center;
    margin: auto;
}

input {
    text-align: center;
    margin: auto;
} 
/*
*/ 